# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
yarn-error.log/
vendor/
tmp/
dist/
.DS_Store
.idea
tmp-resolvers
package-lock.json
flow-typed
yarn.lock
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db
.next
.vscode/
.nuxt
dev.db
*.env*

node_modules

yarn-error.log
dist
build
tmp
pnpm-debug.log
sandbox
.DS_Store

query-engine*
migration-engine*
schema-engine*
libquery_engine*
libquery-engine*
query_engine-windows.dll.node

*tmp.db
dist/

*.tsbuildinfo
.prisma
.pnpm-store

.vscode/*
!.vscode/launch.json.default
!.vscode/extensions.json
coverage

.eslintcache

.pnpm-debug.log

esm
reproductions/*
!reproductions/basic-sqlite
!reproductions/tracing
!reproductions/pnpm-workspace.yaml

dev.db
junit.xml
/output.txt

.envrc.local
